.header {
  display: inline-block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #ececec;
  .title {
    display: inline-block;
    font-size: 20px;
  }
  .newCustomer {
    background: #000046;
    padding: 8px 8px;
    display: inline-block;
    float: right;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    i {
      margin-right: 6px;
    }
  }
}
