.addEditCustomerWrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  .addEditCustomerContainer {
    display: inline-block;
    padding: 10px;
    width: 400px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin-top: 40px;
    .fieldRow { 
      display: inline-block;
      width: 100%;
      padding: 6px 4px;
      text-align: left;
      .fieldLabel {
        display: inline-block;
        text-align: left;
      }
      .fieldValue {
        display: inline-block;
        float: right;
        width: 62%;
        text-align: left;
        margin-left: 20px;
      }
    }
    .addEditCustomer {
      background: #000046;
      padding: 8px 8px;
      display: inline-block;
      box-sizing: border-box;
      font-weight: bold;
      color: #fff;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}